@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
**::before,
**::after {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --dark: #202020;
    --text-muted: #929292;
    --fcmb-purple: #5e2e9e;

    --body-bg: #f9f9f9;
    --box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    --button-shadow: 0 0.1rem 0.2rem #ababab;
}

html {
    scroll-behavior: smooth;
    font-family: "DM Sans";
}

body {
    font-family: "DM Sans", sans-serif;
    background: var(--body-bg);
}

.container {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-bg {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    /* border: 1px solid var(--fcmb-purple); */
}

.header-icon i {
    font-size: 2rem;
    color: var(--dark);
}

.login-header {
    text-align: center;
}

.login-header h4 {
    color: var(--dark);
    font-size: 2rem;
    margin: 0;
}

.login-header p {
    color: var(--dark);
    font-size: .8rem;
    margin-top: 2px;
}

.login-form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form .login-input {
    display: flex;
    flex-direction: column;
}

.login-form .login-input label {
    color: var(--dark);
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.login-form .login-input input {
    background: transparent;
    width: 400px;
    margin-bottom: 1rem;
    padding: .6rem .4rem;
    font-family: "DM Sans", sans-serif;
    border: 1px solid var(--text-muted);
    border-radius: .4rem;
}

.login-input input:focus {
    outline: none;
    border: 2px solid var(--fcmb-purple);
}

.login-form button {
    width: 100%;
    background-color: var(--fcmb-purple);
    color: var(--white);
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding: .6rem .4rem;
    margin-top: .3rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.login-form .pass-input {
    position: relative;
}

.visible {
    color: var(--dark);
    position: absolute;
    bottom: 25px;
    right: 10px;
    font-size: .8rem;
    cursor: pointer;
}
