@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --dark: #202020;
    --text-muted: #767676;
    --border-color: #c7c7c7;
    --hover-bg: #f4f4f4;
    --fcmb-purple: #54278d;

    --body-bg: #f9f9f9;
    --box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    --button-shadow: 0 0.1rem 0.2rem #ababab;
}

body {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-columns: auto 1fr;
    background: var(--body-bg);
    font-family: 'DM Sans';
}

main {
    padding: 1rem;
}

#sidebar {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 14rem;
    padding: 5px .8rem;
    border-right: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    align-self: start;
}

svg {
    fill: var(--dark);
    flex-shrink: 0;
}

#sidebar >ul > li:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: .6rem .3rem;
}

.logo-section {
    position: relative;
}

.logo-section .logo {
    color: var(--dark);
    margin-left: 0.84rem;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'DM Sans';
}

.logo-section button {
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--hover-bg);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -0.1rem;
    right: -1.3rem;
    box-shadow: var(--button-shadow);
}

.logo-section button svg {
    width: 1rem;
    height: 1rem;
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo-section {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .85em;
    color: var(--dark);
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 600;
    border-radius: .6rem;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

#sidebar a span, 
#sidebar .dropdown-btn span,
#sidebar .profile-logout span {
    flex-grow: 1;
}

#sidebar a:hover, 
#sidebar .dropdown-btn:hover {
    background-color: var(--hover-bg);
    color: var(--fcmb-purple);
    transition: 300ms ease-in-out;
}

#sidebar a:hover svg,
#sidebar .dropdown-btn:hover svg {
    fill: var(--fcmb-purple);
    transition: fill 300ms ease-in-out;
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    margin-left: 2.4rem;
    transition: 30ms ease-in-out;
}

#sidebar .sub-menu > div {
    overflow: hidden;
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

#sidebar .sub-menu svg {
    width: 1.2rem;
}

.bottom .logout {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer; 
}

.user-profile, .logout {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .85em;
    color: var(--dark);
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 600;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
}

.user-profile p {
    font-size: .7rem;
    color: var(--text-muted);
}

.user-profile h4 {
    font-weight: 600;
}




